@import "./home.scss";

html body {
  background-color: #efefef;
  color: #242c3a;
}

@media (prefers-color-scheme: dark) {
  html body {
    background-color: #242c3a;
    color: #efefef;
  }
}

h1 {
  font-size: 2rem;
}

.row {
  margin: 4em 20px;
}

.overlay:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.navDown {
  position: relative;
  animation-name: navDown;
  animation-duration: 300ms;
  z-index: -1;
}

@keyframes navDown {
  0% {
    top: -30px;
  }

  100% {
    top: 0px;
  }
}

.navUp {
  position: relative;
  animation-name: navUp;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes navUp {
  0% {
    top: 0px;
  }
  100% {
    top: -30px;
  }
}

// PrettyPrint Styles for Code Snippets
pre.prettyprint {
  background-color: #1a202c;
  border-style: none;
}

// Hide default windows scrollbars
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Prevent scrollbar from changing page width
#wrapper {
  overflow-y: overlay;
}

// Styled scrollbars
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: $thm-orange $thm-dark-blue;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: #df817c;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: #242c3a;
}
