@import "./home.scss";

html body {
  background-color: $thm-dark-blue;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 4em 20px;
}

.overlay:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.navDown {
  position: relative;
  animation-name: navDown;
  animation-duration: 300ms;
  z-index: -1;
}

@keyframes navDown {
  0% {
    top: -30px;
  }

  100% {
    top: 0px;
  }
}

.navUp {
  position: relative;
  animation-name: navUp;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes navUp {
  0% {
    top: 0px;
  }
  100% {
    top: -30px;
  }
}

// PrettyPrint Styles for Code Snippets

pre.prettyprint {
  background-color: #1a202c;
}
