@import "./home.scss";

html body {
  background-color: #efefef;
  color: #242c3a;
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  html body {
    background-color: #242c3a;
    color: #efefef;
  }
}

h1 {
  font-size: 2rem;
}

.row {
  margin: 4em 20px;
}

.overlay:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.navDown {
  position: relative;
  animation-name: navDown;
  animation-duration: 300ms;
  z-index: -1;
}

@keyframes navDown {
  0% {
    top: -30px;
  }

  100% {
    top: 0px;
  }
}

.navUp {
  position: relative;
  animation-name: navUp;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes navUp {
  0% {
    top: 0px;
  }
  100% {
    top: -30px;
  }
}

// PrettyPrint Styles for Code Snippets
pre.prettyprint {
  background-color: #2d3748;
  border-style: none;
}

// Hide default windows scrollbars
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Prevent scrollbar from changing page width
#wrapper {
  overflow-y: overlay;
}

// Styled scrollbars
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: $thm-dark-blue $thm-orange;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: #df817c;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: #242c3a;
}


// Toggle

.toggle-btn {
  background-color: #fc8181;
  border: 2px solid #1a202c;
  border-radius: 99px;
  position: relative;
  border-radius: 2rem;
  width: 50px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.1s ease, border-color 0.2s ease;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 99px;
  // transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  
}

.toggle-btn.toggled {
  background-color: #2d3748;
}

.toggle-btn:hover {
  border-color: #1a202c;
  opacity: 90%;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 26px)
}

// Dark Mode
.dark-mode {
  background-color:#1a202c;
  color: #f7fafc;
}

.light-mode {
  background-color: #f7fafc;
  color: #2d3748;
}