.masonry-post {
  position: relative;
  overflow: none;
  text-decoration: none;
  background-size: cover;
  background-position: center-center;

  background-clip: border-box;
}

.masonry-post:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.masonry-post:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}

.masonry-post:nth-child(3) {
  grid-column: span 1;
  grid-row: span 20;
}
.masonry-post:nth-child(4) {
  grid-column: span 2;
  grid-row: span 20;
}
.masonry-post:nth-child(5) {
  grid-column: span 3;
  grid-row: span 20;
}

.overlay {
  background-color: white;
}
