.masonry-post {
  position: relative;
  border-radius: 10px;
  border: 2px;
  overflow: hidden;
  background-clip: padding-box;
  background-size: cover;
  background-position: center-center;
  height: 100%;
  text-decoration: none;
  margin: 2rem;
  width: 30%;
}
